Questions:
1. Print only the happiness Score and the country for year 2015
2. Countries with happiness score less than 5.0
3. Which is the unhappiest country in Sub-Saharan Africa?
4. Compare the Unhappiest and happiest countries in each region
5. Countries that became unhappy between 2015 to 2017

# Load the modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

%matplotlib inline

# Load the dataset

In [2]:
# pd.read_csv used to read csv files from the file system
dataset2015 = pd.read_csv("world-happiness-report/2015.csv");
dataset2016 = pd.read_csv("world-happiness-report/2016.csv");
dataset2017 = pd.read_csv("world-happiness-report/2017.csv");

# Quick look at the dataset

In [3]:
dataset2015.head() #Prints first 5 rows of the dataset

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [4]:
dataset2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [5]:
dataset2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

## Question 1

Print only the happiness Score and the country for year 2015

In [6]:
# method 1
dataset2015[["Country", "Happiness Score"]].head()

       Country  Happiness Score
0  Switzerland            7.587
1      Iceland            7.561
2      Denmark            7.527
3       Norway            7.522
4       Canada            7.427

In [7]:
# method 2
dataset2015.loc[:, ["Country", "Happiness Score"]].head()

       Country  Happiness Score
0  Switzerland            7.587
1      Iceland            7.561
2      Denmark            7.527
3       Norway            7.522
4       Canada            7.427

In [8]:
# method 3
dataset2015.iloc[:, [0, 3]].head()

       Country  Happiness Score
0  Switzerland            7.587
1      Iceland            7.561
2      Denmark            7.527
3       Norway            7.522
4       Canada            7.427

## Question 2

countries with happiness score less than 5.0

In [9]:
q2set = dataset2015.loc[:, ["Country", "Happiness Score"]]
q2set[q2set["Happiness Score"] < 5.0].head()

                   Country  Happiness Score
93              Mozambique            4.971
94                 Albania            4.959
95  Bosnia and Herzegovina            4.949
96                 Lesotho            4.898
97      Dominican Republic            4.885

# Details about the dataset

In [10]:
# description about the dataset, cannot be used for computation as cannot be assigned to a var
info = dataset2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
Country                          158 non-null object
Region                           158 non-null object
Happiness Rank                   158 non-null int64
Happiness Score                  158 non-null float64
Standard Error                   158 non-null float64
Economy (GDP per Capita)         158 non-null float64
Family                           158 non-null float64
Health (Life Expectancy)         158 non-null float64
Freedom                          158 non-null float64
Trust (Government Corruption)    158 non-null float64
Generosity                       158 non-null float64
Dystopia Residual                158 non-null float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [11]:
# similar to .info but more detailed
# returns a dataframe. Hence, can be used to computation
describe = dataset2015.describe()

In [12]:
# clearly info cannot be used
type(info)

NoneType

In [13]:
# Yeah, this can be used as it's a dataframe
type(describe)

pandas.core.frame.DataFrame

In [14]:
describe

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

# Get unique values

In [15]:
# returns all the unique values in a column
dataset2015['Region'].unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

# Groupby method

In [16]:
north_america = dataset2015.iloc[[4, 14]]
pd.DataFrame(north_america)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
14,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011

In [17]:
grouped = dataset2015.groupby('Region') #group rows based upon region, returns a DataFrameGroupBy
type(grouped)

pandas.core.groupby.groupby.DataFrameGroupBy

In [18]:
grouped.groups

{'Australia and New Zealand': Int64Index([8, 9], dtype='int64'),
 'Central and Eastern Europe': Int64Index([ 30,  43,  44,  51,  53,  54,  55,  58,  59,  61,  63,  68,  69,
              72,  76,  79,  82,  85,  86,  88,  92,  94,  95, 103, 105, 110,
             126, 129, 133],
            dtype='int64'),
 'Eastern Asia': Int64Index([37, 45, 46, 71, 83, 99], dtype='int64'),
 'Latin America and Caribbean': Int64Index([ 11,  13,  15,  22,  24,  26,  29,  31,  32,  39,  40,  41,  42,
              47,  50,  52,  56,  57,  64,  97, 104, 118],
            dtype='int64'),
 'Middle East and Northern Africa': Int64Index([ 10,  19,  21,  27,  34,  38,  48,  62,  67,  75,  81,  91, 102,
             106, 107, 109, 111, 134, 135, 155],
            dtype='int64'),
 'North America': Int64Index([4, 14], dtype='int64'),
 'Southeastern Asia': Int64Index([23, 33, 60, 73, 74, 89, 98, 128, 144], dtype='int64'),
 'Southern Asia': Int64Index([78, 80, 108, 116, 120, 131, 152], dtype='int64'),
 'Sub-Saharan Africa': Int64Index([ 70,  77,  84,  90,  93,  96, 100, 112, 113, 114, 115, 117, 119,
             121, 122, 123, 124, 125, 127, 130, 132, 136, 137, 138, 139, 140,
             141, 142, 143, 145, 146, 147, 148, 149, 150, 151, 153, 154, 156,
             157],
            dtype='int64'),
 'Western Europe': Int64Index([0, 1, 2, 3, 5, 6, 7, 12, 16, 17, 18, 20, 25, 28, 35, 36, 49, 65,
             66, 87, 101],
            dtype='int64')}

In [19]:
na_group = grouped.get_group("North America") # returns All rows with "Region" = "North America"
equal = (north_america == na_group)
pd.DataFrame(equal)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
4,True,True,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,True

In [20]:
grouped.size() #prints size of each group in GroupBy object

Region
Australia and New Zealand           2
Central and Eastern Europe         29
Eastern Asia                        6
Latin America and Caribbean        22
Middle East and Northern Africa    20
North America                       2
Southeastern Asia                   9
Southern Asia                       7
Sub-Saharan Africa                 40
Western Europe                     21
dtype: int64

mean()	Calculates the mean of groups.
sum()	Calculates the sum of group values.
size()	Calculates the size of the groups.
count()	Calculates the count of values in groups.
min()	Calculates the minimum of group values.
max()	Calculates the maximum of group values.

## Question 3

Which is the unhappiest country in Sub-Saharan Africa?

In [21]:
ssa = grouped.get_group("Sub-Saharan Africa")

In [22]:
ssa["Happiness Score"].min()

2.839

In [23]:
ssa[ssa["Happiness Score"] == ssa["Happiness Score"].min()]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

# CHALLENGE: Which is the happiest country in Sub-Saharan Africa?

## Question 4

Compare the Unhappiest and happiest countries in each region

## GroupBy.agg()

In [24]:
#? mark is used to look up method description
grouped.agg?

In [25]:
def dif(group):
    return (group.max() - group.min())

pd.DataFrame(grouped["Happiness Score"].agg(dif))

                                 Happiness Score
Region
Australia and New Zealand                  0.002
Central and Eastern Europe                 2.287
Eastern Asia                               1.424
Latin America and Caribbean                2.708
Middle East and Northern Africa            4.272
North America                              0.308
Southeastern Asia                          2.979
Southern Asia                              1.678
Sub-Saharan Africa                         2.638
Western Europe                             2.730

In [26]:
ssa["Happiness Score"].max() - ssa["Happiness Score"].min()

2.6380000000000003

## FIND OUT ABOUT DataFrame.Pivot_table method

## Question 5

countries that became unhappy between 2015 to 2017

In [27]:
q3set2015 = dataset2015.loc[:, ["Country", "Happiness Score"]]
q3set2017 = dataset2017.loc[:, ["Country", "Happiness.Score"]]

merged = pd.merge(left=q3set2015, right=q3set2017, on='Country')

In [28]:
merged[["HS 2015", "HS 2017"]] = merged[["Happiness Score", "Happiness.Score"]]
merged = merged.drop(["Happiness Score", "Happiness.Score"], axis=1)

In [29]:
merged[(merged["HS 2015"] - merged["HS 2017"]) > 0].head()

       Country  HS 2015  HS 2017
0  Switzerland    7.587    7.494
1      Iceland    7.561    7.504
2      Denmark    7.527    7.522
4       Canada    7.427    7.316
6  Netherlands    7.378    7.377

## CHALLANGE: find the country whose happiness decreased by most amount